/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
/*////////// Global Styles //////////*/

body {
	background-color: #F3EBE9;
	font-size: 100%;
	font-family: Baskerville, serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background-color: white;
	padding: 0 45px 20px;
	top : 0;
}

/* Write all remaining styles here */

h1 a {
  color : rgb(152,173,166);
  font-size : 2.5em;
  text-decoration : none;
}

h2 {
  color : rgb(111,127,122);
  font-size : 2em;
}

p {
  color : #555;
}

img {
  border : 5px rgb(152,173,166) solid;
}

footer {
  float : right;
  padding : 10px;
  margin : 20px;
}